// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.menu-my-orders{
  width: 25%;
  float:left;
  border:0px solid red;
  padding: 0.8em;
  text-align:right;
}

.menu-my-orders-each{
  border-bottom:1px solid #DDD;
  padding:0.6em;
  text-align: right;
}

.menu-my-order-name{
  font-weight: bold;
}
.menu-my-order-value{
  text-align:right;
}

.menu-my-orders-total{
  text-align:right;
  padding:0.6em;
}

.menu-my-orders-total-label::before{
  content: "Total: ";
  font-weight: bold;
  font-size: 20px;
}

.menu-categoria-label{
  font-size: 24px;
  padding: 20px 0px 20px 5px;
}

.menu-items{
  margin-left:10px;
  float:left;
  border: 0px solid green;
  width:70%;
  background-color:rgba(245,245,245,0.8);
  padding:1em;
}

.menu-item-column-photo{
  width: 15%;
}

.menu-item-name{
  font-weight: bold;
  font-size: 2em;
  padding-bottom: 0.2em;
}

.menu-item-description{
  font-style: italic;
  color:#555;
  font-size: 1.3em;
}

.menu-item-value{
  font-size: 1.3em;
}

.menu-item-btn{
  width: 100%;
}
